.zsh_history*
.zcompcache
.zcompdump*
.emacs.d/elpa
.emacs.d/quelpa
.emacs.d/irony
.emacs.d/transient
.emacs.d/tramp
.emacs.d/kkcrc
.zsh/token
.zsh/.zsh_sessions
/.emacs.d/bookmarks
.emacs.d/snippets
.DS_STORE
*~
