[alias]
	st = status
	co = checkout
	push-f = push --force-with-lease
[user]
	email = wanpac@gmail.com
	name = Kazuhiro Hiramoto

[includeIf "gitdir:~/NMWork/"]
        path = ~/.gitconfig_nm

[color]
	ui = auto
[diff]
	tool = meld
