[color]
	ui = auto
[alias]
	st = status
	co = checkout
	push-f = push --force-with-lease
[user]
	email = wanpac@gmail.com
	name = hiratch

[includeIf "gitdir:~/NMWork/"]
        path = ~/.gitconfig_nm

[diff]
	tool = meld
[credential]
	helper = osxkeychain

